.navbar-student {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.4);
  height: 9vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.user {
  padding-top: 3vh;
}
.service {
  display: flex;
  width: 60vw;
  justify-content: space-between;
  align-items: center;
  margin-left: 16vw;
  margin-right: 8vw;
}
.home-page{
  background-color: #F2F2F2;
}
.service > p {
    font-family: 'Poppins', sans-serif;

  font-weight: 600;
}

.user-name {
    font-family: 'Poppins', sans-serif;

}

.nav:hover {
  border-bottom: 3px solid #27b2d1;
  cursor: pointer;
}

.content-home {
  display: flex;
  height: 100%;
  min-height: 100vh;
  justify-content: center;
  /* margin-top: 2vh; */
  /* padding-top: 60px; */

  /* padding-left: 1vw;
  padding-right: 1vw; */
  margin: 1%;
  margin-bottom: 0%;
  --transition__duration: 1s;
  --transition__easing: ease-in-out;
  animation-name: wipe-in-down;
}

.side-bar {
  /* flex: 0.25;
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
   */
  width: 25%;
  min-height: inherit;
  padding-right: 1vw;
  margin-bottom: 4vh;
  transition: all 0.4s ease;

}

.main-bar {
  /* flex: 0.75; */
  width: 75%;
  height: 82vh;
}

.title-side {
  display: flex;
  background: #008cff;
    font-family: 'Poppins', sans-serif;

  color: white;
  justify-content: space-around;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 800;
  width: 100%;
}

.title-5 {
  margin-top: 2.5vh;
  margin-bottom: 2.3vh;
    font-family: 'Poppins', sans-serif;

}

.instructions-box {
  width: 90%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  margin-top: 2vh;
}

.side-bar-item {
  background: #e5dbf7;
  margin-bottom: 0px;
  cursor: pointer;
    font-family: 'Poppins', sans-serif;

  padding: 1.5vh;
}

.item {
  align-items: center;
  justify-content: center;
  padding-right: 5vw;
}

.transparent{
  border-radius: 20%;
}

.counter {
  background: #e3e8ff;
  color: #7597ff;
  padding: 5px;
  height: 33px;
  width: 30px;
  border-radius: 100%;
  margin-top: 16px;
}

.side-bar > p {
  padding-left: 3vw;
  padding-top: 2vh;
  padding-bottom: 1.5vh;
    font-family: 'Poppins', sans-serif;

}



.type-count-last{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e5dbf7;
  width: 100%;
}

.side-bar-item-advanced-1 {
  display: flex;
  background: #6D3FC7;
    font-family: 'Poppins', sans-serif;

  color: white;
  justify-content: space-around;
  /* border-left: 4px solid #5abcff; */
  font-size: 2vh;
  font-weight: 800;
  margin-top: 0.2vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  margin-bottom: 1vh;
  cursor: pointer;
  border-radius: 10px;
  padding-left: 20px;
}

.side-bar-item-advanced-2 {
  display: flex;
  background: #f2f2f2;
    font-family: 'Poppins', sans-serif;

  color: black;
  justify-content: space-around;
  border-left: 4px solid #59b45f;
  font-size: 2vh;
  font-weight: 800;
  margin-top: 0.2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.side-bar-item-advanced-3 {
  display: flex;
  background: #f2f2f2;
    font-family: 'Poppins', sans-serif;

  color: black;
  justify-content: space-around;
  border-left: 4px solid #fc5c5c;
  font-size: 2vh;
  font-weight: 800;
  margin-top: 0.2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.active {
  box-sizing: border-box;
  height: 80vh;
  overflow: scroll;
  padding: 1vw;
  border-radius: 15px;
}

.active::-webkit-scrollbar {
  display: none;
}

.active-title {
    font-family: 'Poppins', sans-serif;

  font-weight: 800;
  color: white;
  text-align: center;
  padding: 1% 0;
}

.active-active {
  border-bottom: 1px solid lightgray;
  background: #6D3FC7;
  margin-top: 1vh;
  border-radius: 15px;
  padding-bottom: 1vh;
}

.active-quiz {
  box-sizing: border-box;
  background-color: #6c3fc712;
  padding: 1vw;
  border-radius: 15px;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
}

.active-quiz-description {
  width: 70%;
  color: black;
}

.active-quiz-title,
.active-quiz-des,
.question-time,
.start,
.end {
    font-family: 'Poppins', sans-serif;

}

.active-quiz-des,
.question-time,
.start,
.end {
  margin-bottom: 0px;
  font-size: small;
}

.active-quiz-title {
  font-weight: 800;
}

.tabs{
  cursor: pointer;
}

.view-result-button {
  border-width: 0px;
  background: #6D3FC7;
  color: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  padding: 0.5vw 1vw;
  cursor: pointer;
}

.empty {
    font-family: 'Poppins', sans-serif;

  color: black;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.group > p {
    font-family: 'Poppins', sans-serif;

}

.change-group {
  background: #e85629;
  color: white;
  padding: 0.5vw 1vw;
  border-width: 0px;
    font-family: 'Poppins', sans-serif;

  border-radius: 15px;

  margin-left: 1vw;
}

.type-count-first{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.type-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e5dbf7;
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Responsive */
@media (max-width: 599px) {
  .side-bar {
    width: 100%;
    position: relative;
    z-index: 99;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  .side_toggle {
    right: 100%;
  }
  .main-bar {
    width: 90%;
    position: absolute;
  }
  .view-result-button {
    padding: 1vw 1.5vw;
    width: 100px;
  }
  .active{
    padding: 2vw;
    height: 80vh;
  }
  .active-quiz {
    padding: 5vw;
  }
  
}

@keyframes wipe-in-down {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:down"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;
}

@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:right"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}
