.delete-icon {
  border: 0px;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  margin-right: 20px;
}
.cont {
  padding-top: 60px;
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.side {
  /* flex: 0.25; */
  width: 25%;
  min-height: inherit;
  padding: 1vw;
  margin-bottom: 4vh;
  right: 0;
  transition: all 0.4s ease;
}

.mainbar {
  /* flex: 0.75; */
  width: 75%;
  height: 82vh;
}

.create-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e5dbf7;
  padding-top: 0.5vh;
  padding-bottom: 1.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 1vh;
  border-radius: 10px;
}

.create-group:hover {
  background: #e3d5ff;
  cursor: pointer;
}

.create-group > p {
    font-family: 'Poppins', sans-serif;

  font-weight: 600;
}

.but {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  margin-right: 5vw;
}

.edit,
.view,
.delete {
  color: white;
  background: #6D3FC7;
  border-width: 0px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border-radius: 15px;
  cursor: pointer;
}
.side-bar-item-advanced-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.06em;
  padding-left: 5%;
  padding-right: 4%;
}
.side_toggle {
  transition: all 0.4s ease;

}

.first-type-count{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.last-type-count{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 599px) {
  .side {
    width: 100%;
    position: relative;
    z-index: 99;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  .side_toggle {
    right: 100%;
  }
  .mainbar {
    width: 90%;
    position: absolute;
  }
  .transparent {
    /* display: none; */
    width: 250px;
    background-color: white;
  }
  .edit,
.view,
.delete {
  margin: 0 6px;
  padding: 4px 6px;
}
}
