.instruction-page {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;

}

.instruction-container {
  width: 60vw;
  margin: auto;
  padding: 30px 30px;
  border: 1px solid lightgray;
  z-index: 10;
  background-color: #e5dbf7;
  border-radius: 10px;
}

.instruction-page > div {
  margin: 25px 0;
}


.instruction-page > div h2 {
  margin: 10px 0;
  font-size: 1.2em;
}

.instruction-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instruction-timer > * {
  margin: 10px 0;
}

.instruction-timer button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4%;
  width: 35%;
  border: none;
  outline: none;
  color: white;
  background-color: #6D3FC7;
  cursor: pointer;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 700;
  border-radius: 6px;
}

.instruction-timer button:hover {
  background: #6139b2;
  color: white;
}

.instruction-countdown {
  font-weight: 600;
  font-size: 1.4em;
}

.instruction-header {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.instruction-header > * {
  margin: 10px 0;
}

.instruction-header p {
  font-weight: 500;
}

@media (max-width: 500px) {
  .instruction-container {
    padding: 10px 20px;
  }
}
